.room-file{
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 5px;
  grid-template-areas:
    'image name'
    'file file'
    'date date'
;
  border: 1px solid #fdcd7c;
  border-radius: 6px;
  padding: 5px;
  max-width: 80%;
  box-shadow: -3px 3px 3px #fcf7ef;
  align-items: center;
  background-color: #fcf7ef;
  color: black;
  &_right{
    grid-template-columns: 30px 1fr;
    grid-template-areas:
    'image name'
    'file file'
    'date date'
  ;
    border-color: gray;
    justify-self: flex-end;
    box-shadow: 3px 3px 3px #eae9e9;
    background-color: #eae9e9;
  }
  &__name{
    grid-area: name;
    margin-bottom: 0;
  }
  &__image{
    display: block;
    grid-area: image;
    max-width: 100%;
    margin-bottom: 10px;
  }
  &__file{
    grid-area: file;
  }
  &__date{
    font-size: 12px;
    grid-area: date;
    color: #3e3e3e;
  }
  &__content-imame{
    max-width: 100%;
  }
}